body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-shadow: red 2px 4px, blue -2px -4px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 5%;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 100%;
}

input {
    display: flex;
    justify-content: center;
    width: 93%;
    margin: 10px 0;
    border-radius: 20px;
    border : 1px solid #202020;
    padding: 10px;
    font-size: 16px;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}
