body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-shadow: red 2px 4px, blue -2px -4px;
}

h2 {
    color: aliceblue;
    display: flex;
    justify-content: left;
    font-size: 30px;
    margin: 20px 0;
}

#search, #genreFilter {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-card {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}
